.app {
  display: grid;
  background-color: #DADCD6;
  height: 100vh;
  z-index: 0;
}

.app__backgroundStripe {
  position: fixed;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 127px;
  background-color: #009688;
}

.app__body {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;  
  height: auto !important;
  z-index: 1;
  display: flex;
  max-width: 1396px;
  background-color: #ededed;
  width: 90vw !important;
  height: 90vh !important;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}

